<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
 <ion-card class="ion-no-margin">
   <ion-card-header color="new">
    <ion-card-title class="ion-text-center">Login</ion-card-title>
   </ion-card-header>
 
   <ion-card-content >

    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">

      <ion-item-group>
        <ion-item lines="full">
          <ion-input type="text" placeholder="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="full" class="ion-padding-bottom">
         <ion-input [type]="showPassword ?'text':'password'" placeholder="password" formControlName="password"></ion-input>
         <ion-icon [name]="showPassword? 'eye-off':'eye'" (click)="togglePasswordType()"></ion-icon>
        </ion-item>

        <ion-button color="new" expand="block" fill="solid" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
      </ion-item-group>
    
      
      <ion-row>
        <ion-col size="6">
          <ion-button fill="outline" expand="block" [routerLink]="['/auth/forget-password']" color="warning">Forgot password</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="outline" expand="block" [routerLink]="['/auth/register']" color="success">Register</ion-button>
        </ion-col>
      </ion-row>

    </form>

    <div style="margin-top:15px">
      <a href="#" style="text-decoration: none; font-size: medium; float:right" [routerLink]="['/auth/forget-password']">Forgot password?</a>
    </div>

    <!-- <ion-list style="margin-top: 20px; clear:both">
        <ion-button color="white" (click)="googleSignin()" expand="block" fill="solid">
          <ion-text style="margin-right: 3px;">Log in with google</ion-text><ion-icon name="logo-google"></ion-icon> 
        </ion-button>
        <ion-button color="facebook" (click)="facebookSignin()" expand="block" fill="solid" class="ion-margin-top">
          <ion-text style="margin-right: 3px;">Log in with facebook</ion-text><ion-icon name="logo-facebook"></ion-icon> 
        </ion-button>
    </ion-list> -->
  
   </ion-card-content>
   
 </ion-card>

 <div id="singUp" style="margin-top:20px; position:absolute; left:20%">
  <span>Don't you have an account? </span> <a href="#" style="text-decoration: none; display:inline;font-size: medium; margin-top: 5px" [routerLink]="['/auth/register']">Sign up</a>
 </div>
 

</ion-content>
