<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
 <ion-card class="ion-no-margin">
   <ion-card-header>
    <ion-card-title class="ion-text-center">Forget Password ?</ion-card-title>
   </ion-card-header>
 
   <ion-card-content>

    <form (ngSubmit)="doForgetPassword()" [formGroup]="forgetPasswordForm">
      <ion-item-group>
        <ion-item lines="full">
          <ion-input type="text" placeholder="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="!forgetPasswordForm.valid" fill="solid">Submit</ion-button>
      </ion-item-group>  
      <ion-row>
        <ion-col size="6">
          <ion-button fill="outline" [routerLink]="['/auth/register']" expand="block" color="success">Register</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="outline" [routerLink]="['/auth/login']" expand="block" color="success">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
   </ion-card-content>
 </ion-card>
</ion-content>
