<ion-header>
  <ion-toolbar>
    <ion-card style="margin-left:0px;margin-right:0px; margin-top:0px">
      <ion-card-header color="new">
      
        <ion-row>
          <ion-col size="9">
            <ion-text>
              <h6>Type: {{type}}</h6>
              <h6>Total: {{total | customCurrency: currency}}</h6>
            </ion-text>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="dismiss()" fill="outline" color="light">
              <ion-icon  name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>

    <ion-button  expand="full" (click)="priceFilter()" color="new" fill="solid">
      <ion-text>Sort by amount</ion-text>
      <ion-icon size="small" *ngIf="filterPrice" [name]="filterPriceUp?'arrow-up-outline':'arrow-down-outline'"></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card *ngFor="let expense of expenses">

      <ion-toolbar [color]="expense.category == 'Income'?'new':'favorite'">
        <ion-text style="font-size:medium; margin-left:10px; margin-right:10px" [slot]="expense.category == 'Income'?'end':'start'"><b>{{expense.amount | customCurrency:currency }}</b></ion-text>
        <ion-text style="font-size:medium; margin-left:10px; margin-right:10px" [slot]="expense.category == 'Income'?'':'end'"><b>{{ expense.date}}</b></ion-text>
      </ion-toolbar>
  
      <ion-card-content>
  
        <ion-text>
          {{expense.description}}
        </ion-text>
      
        <ion-footer>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12" offset="4">
                <ion-text>{{expense.category}}: {{expense.type}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
  
      </ion-card-content>
    </ion-card>
</ion-content>