<ion-header>
  <ion-toolbar color="new">
    <ion-title class="ion-text-center">Change Currency</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="outline" color="light">
      <ion-icon  name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="changeCurrencyForm">

    <ion-item *ngIf="!checkboxChecked">
      <ion-label>Select Currency</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancel" [formControlName]="checkboxChecked?'':'currency'" interface="popover">
        <ion-select-option  [value]="currencykey" *ngFor="let currencykey of currencyKeys">{{currencykey}}({{ currencyObject[currencykey]}})</ion-select-option>
    </ion-select>
    </ion-item>

    <ion-item *ngIf="checkboxChecked">
      <ion-input placeholder="Enter your currency code. eg USD,EUR" type="text" [formControlName]="checkboxChecked?'currency':''"></ion-input>
    </ion-item>

    <ion-item style="margin-top:5px">
      <ion-label>I do not see my currency from the list</ion-label>
      <ion-checkbox color="primary" slot="start" (click)="toggleChecked()"></ion-checkbox>
    </ion-item>

    
    <ion-button (click)="changeCurrency()"color="new" [disabled]="!changeCurrencyForm.valid" size="large" expand="block" fill="solid" >Save</ion-button>
   
  </form>

</ion-content>