<ion-header>
  <ion-toolbar color="new">
    <ion-title>{{title}} income Chart</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="outline" color="light">
      <ion-icon  name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div style="position:absolute; top: 50%; left:50%">
    <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
  </div>
  
  <ion-card class="welcome-card">
    <ion-card-content>
      <google-chart [data]="pieChart"></google-chart>
    </ion-card-content>
  </ion-card>
</ion-content>