<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense/Return</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="outline" color="danger">
      <ion-icon  name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="addExpenseForm">

    <ion-item>
      <ion-label>Select category</ion-label>
      <ion-select value="brown" (ionChange)="showCategoryMenu()" okText="Ok" cancelText="Cancel" formControlName="category" interface="popover">
          <ion-select-option  [value]="type.value" *ngFor="let type of category | keyvalue">{{ type.value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label position="floating" color="danger" *ngIf="addExpenseForm.controls.amount.invalid && addExpenseForm.controls.amount.touched">
      Amount is not valid
    </ion-label>
    <ion-item>
      <ion-input placeholder="amount" type="number" inputmode="decimal" formControlName="amount"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="description" type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item *ngIf="isExpense">
      <ion-label>Select type</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancel" formControlName="type" interface="popover">
          <ion-select-option [value]="type.value" *ngFor="let type of expenseTypes | keyvalue">{{ type.value}}</ion-select-option>
      </ion-select>
    </ion-item>

     <ion-item *ngIf="isReturn">
      <ion-label>Select type</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancel" formControlName="type" interface="popover">
          <ion-select-option [value]="type.value" *ngFor="let type of creditTypes | keyvalue">{{ type.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    

    <ion-button (click)="initCreateExpense()"  [disabled]="!addExpenseForm.valid" size="large" expand="block" fill="solid" >Add</ion-button>
   
  </form>

</ion-content>