<ion-header>
  <ion-toolbar color="new">
    <ion-title>Add Expense/Income</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="outline" color="light">
      <ion-icon  name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="addExpenseForm">

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select value="brown" (ionChange)="showCategoryMenu()" okText="Ok" cancelText="Cancel" formControlName="category" interface="popover">
          <ion-select-option  [value]="type.value" *ngFor="let type of category | keyvalue">{{ type.value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label position="floating" color="danger" *ngIf="addExpenseForm.controls.amount.invalid && addExpenseForm.controls.amount.touched">
      Amount is not valid
    </ion-label>
    <ion-item>
      <ion-input placeholder="amount" type="number" inputmode="decimal" formControlName="amount"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input placeholder="description(Optional)" type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item *ngIf="isExpense && !checkboxChecked">
      <ion-label>Expense Type</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancel" [formControlName]="checkboxChecked?'':'type'" interface="popover">
          <ion-select-option [value]="type" *ngFor="let type of expenseTypesArray">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isReturn && !checkboxChecked">
      <ion-label>Income Type</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancel" [formControlName]="checkboxChecked?'':'type'" interface="popover">
          <ion-select-option [value]="type" *ngFor="let type of creditTypesArray">{{ type}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="checkboxChecked">
      <ion-input [placeholder]="isReturn?'Enter custom type of your income':'Enter custom type of your expense'" type="text" [formControlName]="checkboxChecked?'type':''"></ion-input>
    </ion-item>

    <ion-item *ngIf="isReturn || isExpense" style="margin-top:20px">
      <ion-label>Enter custom type to be added to the list</ion-label>
      <ion-checkbox color="primary" slot="start" (click)="toggleChecked()"></ion-checkbox>
    </ion-item>
  
    <ion-button (click)="initCreateExpense()"  color="new" [disabled]="!addExpenseForm.valid" size="large" expand="block" fill="solid" >Add</ion-button>
   
  </form>

</ion-content>