<ion-header>
  <ion-toolbar>
    <ion-card style="margin-left:0px;margin-right:0px">
      <ion-card-header color="primary">
        <ion-row>
          <ion-col size="8">

            <ion-text>
              <h6>Daily Expenses: {{todayTotalExpenses | currency:'USD'}}</h6>
            </ion-text>

            <!-- <ion-card-subtitle>
              Total Returns: {{todayTotalReturns | currency:'USD'}}
            </ion-card-subtitle> -->
            <ion-text>
              <h6>Daily Returns: {{todayTotalReturns | currency:'USD'}}</h6>
            </ion-text>
      
          </ion-col>

          <ion-col size="4">
            <ion-card-subtitle>
              {{ selectedDate | date}}
            </ion-card-subtitle>
          </ion-col>

        </ion-row>
      </ion-card-header>
  
      <ion-footer>
        <ion-row>
  
          <ion-col size="3">
            <ion-button (click)="setCurrentToTodayDate()" expand="full" fill="solid">Today</ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="select.open()" expand="full" fill="solid" color="primary">Date</ion-button>

            <ion-item lines="none">
              <ion-datetime hidden

              #select
              [value]="selectedDate.toISOString()"
              (ionChange)="changeSelectedDate(select.value)"
              min="2020" 
              [max]="todayDate.toISOString()"
              >
                
              </ion-datetime>
  
            </ion-item>
  
        
          </ion-col>
          <ion-col size="3">
            <ion-button  expand="full" fill="solid" (click)="selectedValue.open()">Type</ion-button>
            <ion-item hidden>
              <ion-select  formControlName="type" interface="popover" #selectedValue>
                 
                  <ion-select-option disabled>Expense Types</ion-select-option>
                  <ion-select-option  [value]="name" *ngFor="let name of expenseTypesKeys">{{expenseTypes[name]}}</ion-select-option>
                 
                  <ion-select-option disabled>Return Types</ion-select-option>
                  <ion-select-option  [value]="name" *ngFor="let name of creditTypesKeys">{{creditTypes[name]}}</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
          <ion-col size="3">
            <ion-button  expand="full" (click)="priceFilter()" fill="solid">
              <ion-icon name="logo-usd"></ion-icon>
              <ion-icon *ngIf="filterPrice" [name]="filterPriceUp?'arrow-up-outline':'arrow-down-outline'"></ion-icon>
            </ion-button>
          </ion-col>
  
        </ion-row>
      </ion-footer>
    </ion-card>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let expense of expenses | catagory: selectedValue.value">

    <ion-toolbar [color]="expense.category == 'Return'?'primary':'danger'">
      <ion-buttons [slot]="expense.category == 'Return'?'':'end'">
        <ion-button>
          <ion-icon size="large" name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentEditModal(expense)">
          <ion-icon size="large" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title [slot]="expense.category == 'Return'?'end':''">$ {{expense.amount}}</ion-title>
    </ion-toolbar>

    <ion-card-content>

      <ion-text>
        {{expense.description}}
      </ion-text>
    
      <ion-footer>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" [offset]="expense.category == 'Return'?'8':''">
              <ion-text>{{expense.category}}:{{expense.type}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>

    </ion-card-content>
  </ion-card>

   <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>